
        <style>
         h1 {
                width: 300px;
                border: 15px solid green;
                padding: 50px;
                margin: 20px;
            }
            h1 {
    
               font-family: "Helvetica", sans-serif;
            
            p {
               font-family: "Helvetica", sans-serif;
             
            }
             h2{
               font-family: "Helvetica", sans-serif;
         
            }
</style>

 
